<mat-card appMaterialElevation defaultElevation="4" raisedElevation="4">
  <mat-card-header>
    <mat-card-title>Exosomes</mat-card-title>
    <div fxLayout="row wrap" fxLayoutGap="10px" fxFlexAlign="space-between center"></div>
  </mat-card-header>
</mat-card>
<mat-card style="margin-top: 10px;" appMaterialElevation defaultElevation="4" raisedElevation="4">
  <mat-card-header>
    <mat-card-title>Microvesicles</mat-card-title>
  </mat-card-header>
  <div fxLayout="row wrap" fxLayoutGap="10px" fxFlexAlign="space-between center"></div>
</mat-card>
