<div fxLayout="column" fxFill>
  <div fxFlex="none">
    <h1 class="page-header">
      Samples
    </h1>
  </div>

  <div fxFlex>
    <div fxLayout fxFill fxLayoutGap="10px">
      <div fxFlex="70%" style="border: 1px solid blue;">
        <ng-container *ngIf="showStatistics">
          <app-samples-statistics></app-samples-statistics>
        </ng-container>
        <ng-container *ngIf="showContet">
          <app-sample-content [sample]="sample"></app-sample-content>
        </ng-container>
      </div>
      <div fxFlex="30%">
        <div fxLayout="row wrap" fx.fxLayout.sm="column" fxLayoutGap="10px" fxFlexAlign="space-between center">
          <ng-container *ngFor="let sample of samples">
            <app-sample-card fxFlex.sm="0 1 calc(95%)" [sample]="sample" (click)="showSample(sample)"></app-sample-card>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <div fxFlex="none">
    <app-footer></app-footer>
  </div>
</div>
