<div fxLayout="column" fxFill>
  <div fxFlex="none">
    <h1 class="page-header">Samples <span style="font-size: 18px; color: #6400b2;">click floating image to show detail.</span></h1>
  </div>
  <br />

  <div fxFlex class="not-float">
    <div fxLayout fxLayoutGap="10px">
      <div [fxFlex]="samLay">
        <h2 class="page-subheader">
          Conditions
        </h2>
        <br />
        <div fxLayout="row wrap" fxLayoutGap="10px" fxFlexAlign="space-between center">
          <ng-container *ngFor="let sample of samples">
            <app-sample-card fxFlex.sm="0 1 calc(95%)" [sample]="sample" (click)="showContent(sample)">
            </app-sample-card>
          </ng-container>
        </div>

        <h2 class="page-subheader">
          Sources
        </h2>
        <br />
        <div fxLayout="row wrap" fxLayoutGap="10px" fxFlexAlign="space-between center">
          <ng-container *ngFor="let source of sources">
            <app-sample-card fxFlex.sm="0 1 calc(95%)" [sample]="source" (click)="showContent(source)">
            </app-sample-card>
          </ng-container>
        </div>
      </div>
      <div [fxFlex]="resuLay">
        <ng-container *ngIf="showStatistics">
          <app-samples-statistics></app-samples-statistics>
        </ng-container>
        <ng-container *ngIf="showSample">
          <app-sample-content [sample]="sample"></app-sample-content>
        </ng-container>
      </div>
    </div>
  </div>

  <div fxFlex="none">
    <app-footer></app-footer>
  </div>
</div>