ul li {
  list-style: none;
}

.headBack {
  /* background-image: url(/home/xiegy/github/EVAtlas-portal/evea/evea-angular/src/assets/imgs/pic2.png) format('png'); */
  /* height: 100%; */
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
