<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <!-- <button mat-icon-button (click)="toggleSidbeBar()">
        <mat-icon>menu</mat-icon>
      </button> -->
      <!-- <span>
        <strong>Extracellular Vesicle Atlas (EVAtlas)</strong> : a database for expression profiles of ncRNAs in extracellular vesicles
      </span> -->
      <img class="headBack" [src]="assets + '/imgs/' + 'pic5.png'" />
      <!-- <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
        <ul fxLayout="row" fxLayoutGap="20px;">
          <li>
            <button mat-icon-button>
              <mat-icon>settings</mat-icon>
            </button>
          </li>
          <li>
            <button mat-icon-button>
              <mat-icon>help_outline</mat-icon>
            </button>
          </li>
        </ul>
      </div> -->
    </mat-toolbar-row>
  </mat-toolbar>
</header>
