<footer>
  <mat-divider></mat-divider>
  <div>
    <p>
      <strong>Copyright &copy;</strong>
      <a href="http://bioinfo.life.hust.edu.cn" target="_blank">Guo Lab</a>,
      <a href="http://life.hust.edu.cn" target="_blank">College of Life Science and Technology</a>,
      <a href="http://www.hust.edu.cn" target="_blank">HUST</a>, China.
    </p>
    <p>
      Any comments and suggestions, please
      <a routerLink="/contact">contact us</a>
    </p>
    <a href="https://www.revolvermaps.com/livestats/561ybyjfwuj/"
      ><img src="//rf.revolvermaps.com/h/m/a/0/ff0000/128/0/561ybyjfwuj.png" width="256" height="128" alt="Map" style="border: 0;"
    /></a>
  </div>
</footer>
