<div fxFlex="grow" fxLayout fxLayout.lt-lg="column" fxLayoutGap="10px">
  <mat-card appMaterialElevation defaultElevation="4" raisedElevation="4">
    <mat-card-header>
      <mat-card-title>rna function info
        test-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>test content</p>
    </mat-card-content>
  </mat-card>

  <mat-card appMaterialElevation defaultElevation="4" raisedElevation="4">
    <mat-card-header>
      <mat-card-title>rna tcga expression
        test-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>test content</p>
    </mat-card-content>
  </mat-card>
</div>