<div fxFlex="grow" fxLayout fxLayout.lt-lg="column" fxLayoutGap="10px">
  <mat-card fxFlex appMaterialElevation defaultElevation="4" raisedElevation="4">
    <mat-card-header>
      <mat-card-title> {{ rnaSymbol }} related Functions </mat-card-title>
    </mat-card-header>
    <div class="spinner-container" *ngIf="!displayedColumnsFunc">
      <mat-progress-bar mode="query" color="warn"></mat-progress-bar>
    </div>

    <mat-table [dataSource]="dataSourceFunc">
      <ng-container *ngFor="let col of displayedColumnsFunc" [matColumnDef]="col">
        <mat-header-cell *matHeaderCellDef> {{ col }} </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row[col] }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumnsFunc"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumnsFunc"></mat-row>
    </mat-table>
    <mat-paginator #paginatorFunc [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </mat-card>

  <mat-card fxFlex appMaterialElevation defaultElevation="4" raisedElevation="4">
    <mat-card-header>
      <mat-card-title>
        {{ tcgaExpTitle }}
      </mat-card-title>
    </mat-card-header>
    <div *ngIf="!tcgaExp">
      <mat-progress-bar mode="query" color="warn"></mat-progress-bar>
    </div>
    <div echarts [options]="tcgaExp" class="chart-tcgahight"></div>
  </mat-card>
</div>