<div fxLayout="column" fxFill>
  <div fxFlex>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur molestias consequatur facere eos dignissimos quo, cupiditate nihil
      facilis molestiae, a vero repellat consequuntur et fuga excepturi omnis. Dicta, illum animi. Itaque sapiente culpa iure eligendi animi
      labore quisquam fugiat laudantium nam repudiandae pariatur, aperiam expedita maxime ipsa, reprehenderit nihil quae optio dolor
      voluptatum vero unde? Modi asperiores iusto odit voluptatibus! Ut sed voluptas exercitationem a magni labore voluptatem vero, officiis
      qui ex sint optio totam? Laboriosam ipsum est facere reiciendis quae ipsam cumque, laudantium magni, exercitationem rerum sapiente
      aliquid odit. Cum modi fuga impedit sit ipsum ea atque accusantium laboriosam maxime, possimus facilis ducimus molestias delectus
      placeat. Vel facilis velit sunt repellendus, atque, quo et iusto neque tempora impedit vitae. Possimus voluptate tempora, facilis eos
      ab sit harum cupiditate maiores? Amet vitae sunt sit necessitatibus excepturi perspiciatis, id enim quasi ullam non officiis
      voluptatem nostrum veniam cum, placeat accusantium ipsam. Quam, necessitatibus saepe? Enim, ipsa ea harum necessitatibus nihil,
      numquam placeat quam vitae, ratione doloremque cumque natus dignissimos veniam tempore id nulla magnam corporis ab officia quis
      facilis architecto mollitia? Accusantium a esse iure quidem officiis, eaque laborum quia illo, maxime consequuntur voluptas,
      praesentium in velit dignissimos nisi corporis ullam possimus corrupti cupiditate quasi. Perferendis, facilis. Optio officiis placeat
      deserunt! Vel natus, iste eveniet eum, reprehenderit quisquam fugit obcaecati ut dignissimos iusto nesciunt molestias! Architecto
      aliquam ipsam eos ipsa. Debitis veniam cupiditate aperiam harum incidunt, illo ratione eius perspiciatis velit. Perspiciatis
      cupiditate perferendis cumque iste natus delectus quam tenetur minima quod, veniam, neque suscipit sint porro in atque aliquam ut, ea
      excepturi unde. Molestiae, inventore! Eaque doloremque pariatur temporibus magni. Voluptatum soluta temporibus aperiam quo inventore
      assumenda totam, blanditiis laudantium ipsam accusamus reiciendis, placeat, veritatis officia necessitatibus tenetur ducimus beatae.
      Reiciendis eligendi quam iste aliquam fugit totam perspiciatis, eius harum.
    </p>
  </div>
  <div fxFlex="none">
    <app-footer></app-footer>
  </div>
</div>
