<div fxLayout="column" fxFill>
  <div fxFlex fxLayout="row" fxLayoutAlign="center center" class="not-float">
    <div fxLayout="column" fxLayoutGap="10px">
      <div fxFlex="grow" fxLayout="row">
        <app-feature-discription fxFlex></app-feature-discription>
      </div>
      <div fxFlex="grow" fxLayout="row">
        <app-search-box fxFlex></app-search-box>
      </div>
      <app-stat-overview></app-stat-overview>
      <div fxFlex="grow" fxLayout="column">
        <mat-card appMaterialElevation defaultElevation="4" raisedElevation="4" fxLayoutAlign="center center">
          <p>
            <strong>Cite:</strong> Chun-Jie Liu, Gui-Yan Xie, Ya-Ru Miao, Mengxuan Xia, Yi Wang, Qian Lei, Qiong Zhang and An-Yuan Guo
            (2021). "EVAtlas: a comprehensive database for ncRNA expression in human extracellular vesicles." Nucleic Acids Res. Accepted.
            <!-- <a href="https://academic.oup.com/nar/advance-article/doi/10.1093/nar/gky985/5134336" target="_blank">Link</a> -->
          </p>
        </mat-card>
      </div>
    </div>
  </div>

  <!-- <mat-card appMaterialElevation defaultElevation="4" raisedElevation="4">

  </mat-card> -->

  <div fxFlex="none">
    <app-footer></app-footer>
  </div>
</div>
