<div fxLayout="column" fxFill>
  <div fxFlex fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex fxLayout="column">
      <div fxFlex fxLayout="row" fxLayoutAlign="center center">
        <app-search-box fxFlex="90%"></app-search-box>
      </div>
      <div fxFlex fxLayout="row" fxLayout.sm="column" fxLayoutGap="10px" class="overview">
        <app-search-box fxFlex="50%" style="border: 2px solid black;"></app-search-box>
        <app-search-box fxFlex="50%" style="border: 2px solid black;"></app-search-box>
      </div>
    </div>
  </div>
  <div fxFlex="none">
    <app-footer></app-footer>
  </div>
</div>
