<div fxLayout="column" fxLayoutGap="10px">
  <div fxFlex="none">
    <h2 class="page-subheader">
      <span style="color: #da4233;">
        {{ sample.name }}
      </span>
      exosome and microvesicle.
    </h2>
  </div>
  <div fxFlex="grow" fxLayout fxLayout.lt-lg="column" fxLayoutGap="10px">
    <app-sample-table fxFlex [tissueTable$]="tissueTable$" ($tissueRow)="displayTissueStat($event)"></app-sample-table>
  </div>
  <ng-container *ngIf="showProject">
    <app-sample-stat fxFlex="grow" [tissueRecord]="tissueRecord"></app-sample-stat>
  </ng-container>
  <ng-container *ngIf="showProject">
    <app-sample-rna-avg fxFlex="grow" [tissueRecord]="tissueRecord" [sample]="sample"></app-sample-rna-avg>
  </ng-container>

  <ng-container *ngIf="showProject">
    <app-sample-isolation fxFlex="grow" [tissueRecord]="tissueRecord"></app-sample-isolation>
  </ng-container>
</div>
