<div fxLayout="column" fxLayoutGap="20px">
  <div fxFlex="none">
    <h2 class="page-subheader">
      <span style="color: #da4233;">
        {{ sample.title }}
      </span>
      exsosomes and microparticles.
    </h2>
  </div>
  <div fxFlex="grow" fxLayout fxLayout.lt-lg="column" fxLayoutGap="20px">
    <app-sample-table fxFlex [tissueTable$]="tissueTable$" ($tissueRow)="displayTissueStat($event)"></app-sample-table>
  </div>
  <ng-container *ngIf="showProject">
    <div fxFlex="grow" fxLayout fxLayout.lt-lg="column" fxLayoutGap="20px">
      <app-sample-stat fxFlex [tissueRecord]="tissueRecord"></app-sample-stat>
    </div>
  </ng-container>
</div>
