<mat-card appMaterialElevation defaultElevation="4" raisedElevation="4">
  <mat-card-content>
    <mat-tab-group mat-stretch-tabs dynamicHeight color="warn">
      <mat-tab *ngFor="let tab of rnaTypes">
        <ng-template mat-tab-label>{{ tab.label }}</ng-template>

        <span> {{ tissueRecord._id }} {{ tab.label }} Heatmap (top 50) </span>
        <app-rna-avg-heatmap
          [rnaType]="tab.label"
          [tissueRecord]="tissueRecord"
          *ngIf="tab.label != 'pRNA'; else empty"
        ></app-rna-avg-heatmap>

        <span> {{ tissueRecord._id }} small RNA average expression </span>
        <br />
        <app-rna-avg-table [rnaType]="tab.label" [tissueRecord]="tissueRecord"></app-rna-avg-table>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>

<ng-template #empty
  ><div style="color: red;">No enough data for heatmap!<br /></div
></ng-template>
