<mat-card appMaterialElevation defaultElevation="4" raisedElevation="4">
  <mat-table [dataSource]="dataSource" matSort matSortActive="srr_count" matSortDisableClear matSortDirection="desc">
    <ng-container matColumnDef="_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Project ID</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-raised-button color="primary" (click)="showTissueStat(row)">{{ row._id }}</button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="disease">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Disease</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.disease }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ex_type">
      <mat-header-cell *matHeaderCellDef mat-sort-header>EV type</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.ex_type }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="tissues">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Condition</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.tissues | rmcl }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="source">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Source</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.source | rmcl }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="material">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Material</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.material | rmcl }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="srr_count">
      <mat-header-cell *matHeaderCellDef mat-sort-header># Samples (case, control)</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.srr_count }} ({{ row.case_n }}, {{ row.normal_n }})</mat-cell>
    </ng-container>

    <ng-container matColumnDef="pubmed">
      <mat-header-cell *matHeaderCellDef mat-sort-header>PMID</mat-header-cell>
      <!-- <mat-cell *matCellDef="let row">{{ row.pubmed }}</mat-cell> -->
      <mat-cell *matCellDef="let row">
        <a href="https://pubmed.ncbi.nlm.nih.gov/{{ row.pubmed }}/" target="_blank" *ngIf="row.pubmed != 'NA'; else empty"
          ><span class="material-icons">
            find_in_page
          </span></a
        >
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="EV-TRACK">
      <mat-header-cell *matHeaderCellDef mat-sort-header>EV-TRACK</mat-header-cell>
      <!-- <mat-cell *matCellDef="let row">{{ row.pubmed }}</mat-cell> -->
      <mat-cell *matCellDef="let row">
        <a href="http://www.evtrack.org/study_summary.php?PMID={{ row.pubmed }}" target="_blank" *ngIf="row.pubmed != 'NA'; else empty"
          ><span class="material-icons">
            find_in_page
          </span></a
        >
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</mat-card>

<ng-template #empty>-</ng-template>
