<div fxLayout="column" fxFill>
  <div fxFlex="none">
    <h1 class="page-header">{{ rnaSymbolShow }} expression in EVs</h1>
  </div>
  <div fxFlex class="not-float">
    <div fxLayout="column" fxLayoutGap="10px">
      <!-- basic information -->
      <app-rna-basic-info fxFlex="grow" [rnaSymbol]="rnaSymbol" [rnaBasicInfo]="rnaBasicInfo"></app-rna-basic-info>
      <!-- rna expression of exosome and microvesicle -->
      <ng-container *ngIf="rnaType; else loading">
        <app-rna-expr [rnaSymbol]="rnaSymbol" [rnaType]="rnaType"></app-rna-expr>
      </ng-container>
      <!-- TCGA expression -->
      <ng-container *ngIf="isRNA; else empty">
        <app-rna-misc [rnaSymbol]="rnaSymbol" [rnaType]="rnaType"></app-rna-misc>
      </ng-container>
      <!-- mirna functions -->
      <ng-container *ngIf="isMiRNA; else empty">
        <app-mirna-function fxFlex="grow" fxLayout fxLayout.lt-lg="column" fxLayoutGap="10px" [rnaSymbol]="rnaSymbol"
          [rnaType]="rnaType"></app-mirna-function>
      </ng-container>

      <ng-template #loading>
        <mat-progress-bar mode="query" color="warn"></mat-progress-bar>
      </ng-template>
      <ng-template #empty></ng-template>
    </div>
  </div>

  <div fxFlex="none">
    <app-footer></app-footer>
  </div>
</div>