<mat-card appMaterialElevation defaultElevation="4" raisedElevation="4">
  <p>
    Extracellular vesicles (EVs) are cell-derived membranous surrounded vesicles originated from the endosomal system (exosomes) or shed
    from the plasma membrane (microvesicles: MVs). Both exosomes and MVs carry proteins, nucleic acids (mRNAs, non-coding RNAs and DNA
    sequences) and lipids etc. from host cells. The contents of EVs (especially the ncRNAs: miRNA and piRNA etc.) play important roles in
    intercellular communication and could serve as potential biomarkers for diagnosis and therapeutic response.
  </p>
  <p>
    Extracellular vesicle Atlas (EVAtlas) is a comprehensive database for expression profiles of 8 types of ncRNAs (miRNA, piRNA, rRNA,
    tRNA, scRNA, snRNA, snoRNA and pRNA) in more than 2,000 EV samples from 24 human conditions and 40 diseases. In addition, as an
    update of <a href="http://bioinfo.life.hust.edu.cn/EVmiRNA#!/" target="_blank">EVmiRNA</a> database, EVAtlas provides miRNA/snoRNA/tRNA TCGA expression, miRNA targets,
    miRNA related drugs, miRNA regulated pathways, miRNA functions, and related publications.
  </p>
</mat-card>
