<mat-card appMaterialElevation defaultElevation="4" raisedElevation="4">
  <p>
    Extracellular vesicles (EVs) are cell-derived membranous surrounded vesicles originated from the endosomal system (exosomes) or shed
    from the plasma membrane (microvesicles: MVs). Both exosomes and MVs carry proteins, nucleic acids (mRNAs, non-coding RNAs and DNA
    sequences) and lipids etc. from host cells. The contents of EVs (especially the ncRNAs: miRNA and piRNA etc.) play important roles for
    intercellular communication and could server as potential biomarkers for diagnosis, special physiological and disease status and
    therapeutic response.
  </p>
  <p>
    EVAtlas (Extracellular Vescile Atlas) is a comprehensive database depositing expression profiles of 8 types of ncRNAs (miRNA, piRNA,
    rRNA, tRNA, scRNA, snRNA, snoRNA, pRNA) in more than 2,000 EV samples. Moreover, EVAtlas provides useful function modules for user to
    explore the expression profiles and conditional patterns of the 8 types of ncRNAs in 23 human tissues(organs) and 40 diseases,
    especially for miRNAs. In addition, users can investigate miRNA targets, miRNA related drugs, miRNA regulated pathways, miRNA functions,
    and related publications.
  </p>
</mat-card>
