<mat-card appMaterialElevation defaultElevation="4" raisedElevation="4">
  <div fxLayout="row" fxLayoutAlign="center center">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum deleniti iste, aliquam molestias cumque dolor veritatis ea? Hic voluptas
    quae praesentium perferendis necessitatibus, minima obcaecati blanditiis commodi, recusandae enim maiores! Incidunt ea non consequuntur
    mollitia harum neque nobis aliquid? Distinctio, eum quas omnis a voluptatibus id dolor totam aspernatur sunt voluptas, quam quo facere
    nesciunt dignissimos repudiandae molestias dolorem nam. Rerum laudantium numquam at eveniet voluptates laboriosam commodi mollitia ad,
    ipsam accusantium libero quia qui neque eius earum aliquam iure in quis delectus, quisquam atque. Rerum excepturi optio nulla neque?
    Voluptatibus ex voluptates deleniti debitis rem sed laboriosam adipisci, atque asperiores. Nulla iusto iure impedit sit minima! Magni
    obcaecati hic ducimus quod harum, qui molestiae perferendis consequatur, laboriosam modi ad. Velit hic quasi suscipit accusamus
    laboriosam veniam dolore saepe distinctio placeat ipsa explicabo, vero tenetur unde nobis cupiditate nostrum eaque laudantium dolor at
    ipsum dicta sapiente. Laudantium repudiandae qui placeat. Ex, sapiente possimus dolores est corrupti debitis? Quae similique magnam
    nostrum quidem, itaque iste aperiam vero minima laudantium fuga. Repellat, repudiandae a eveniet ab natus corporis ex saepe voluptate
    quos! Omnis libero unde, fuga assumenda fugiat optio consequuntur laudantium. Delectus nobis omnis eaque rerum, quam magnam maiores non,
    minus ad veritatis porro, temporibus animi fuga iste quae deserunt minima libero. Aspernatur perferendis quas voluptatibus aperiam autem
    repellendus itaque in similique neque ea accusantium soluta, deserunt recusandae facilis quidem necessitatibus eaque quo alias nesciunt
    sapiente quaerat laborum officia! Vero, molestias laboriosam? Libero quis et expedita consectetur, sit ipsum reprehenderit deleniti
    neque? Blanditiis quas mollitia unde? Dolore ipsam accusantium a obcaecati. Dolore a facere placeat laborum magni laboriosam eveniet
    dicta vero optio. Voluptatibus, voluptatum facere tempora expedita ipsa eligendi incidunt vel, corrupti consequatur, molestias molestiae
    excepturi? Recusandae, fugit dolor at minima accusantium adipisci quidem laborum numquam, molestiae perferendis eius magnam mollitia
    praesentium?
  </div>
</mat-card>
