<div fxFlex="grow" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" class="overview">
  <mat-card fxFlex="50%" appMaterialElevation defaultElevation="4" raisedElevation="4">
    <mat-card-header>
      <mat-card-title>
        <span matBadge="22" matBadgeOverlap="true" matBadgeSize="medium" matBadgeColor="primary">Tissues</span> and
        <span matBadge="2095" matBadgeOverlap="true" matBadgeColor="primary" class="custom-badge">samples</span> of
        <span matBadge="1572" matBadgeOverlap="true" matBadgeColor="primary" class="custom-badge">exosome</span> and
        <span matBadge="503" matBadgeOverlap="true" matBadgeColor="primary" class="custom-badge">microvesicles</span>
        in EVAtlas
      </mat-card-title>
    </mat-card-header>
    <div echarts [options]="statDist" class="chart-hight"></div>
  </mat-card>
  <mat-card fxFlex="50%" appMaterialElevation defaultElevation="4" raisedElevation="4">
    <mat-card-header>
      <mat-card-title>
        The distribution of ncRNAs of exosomes and microvesicles in EVAtlas
      </mat-card-title>
    </mat-card-header>
    <div echarts [options]="pieChart" class="chart-hight"></div>
  </mat-card>
</div>