<mat-nav-list>
  <div class="logo-card">
    <div class="header">
      <h2>EVAtlas</h2>
    </div>
    <img src="assets/imgs/logo.png" alt="EVA" />
  </div>

  <mat-divider></mat-divider>

  <a mat-list-item routerLink="/" routerLinkActive="list-item-active"> <mat-icon>home</mat-icon> Home </a>
  <a mat-list-item routerLink="/samples" routerLinkActive="list-item-active"> <mat-icon>how_to_reg</mat-icon>Samples</a>
  <a mat-list-item routerLink="/rna" routerLinkActive="list-item-active"> <mat-icon>touch_app</mat-icon>RNA</a>
  <a mat-list-item routerLink="/specific" routerLinkActive="list-item-active"> <mat-icon>tour</mat-icon>Specific RNA</a>

  <mat-divider></mat-divider>

  <a mat-list-item routerLink="/document" routerLinkActive="list-item-active"> <mat-icon>book_marks</mat-icon>Document</a>
  <a mat-list-item routerLink="/contact" routerLinkActive="list-item-active"> <mat-icon>contacts</mat-icon>Contact</a>
</mat-nav-list>
