<div fxLayout="column" fxFill>
  <div fxFlex="none">
    <h1 class="page-header">
      RNA Expression
    </h1>
  </div>

  <!-- rna tabls -->
  <div fxFlex fxLayout="column" class="not-float">
    <div fxFlex>
      <mat-tab-group mat-stretch-tabs dynamicHeight color="warn">
        <mat-tab *ngFor="let tab of rnaTypes">
          <ng-template mat-tab-label>{{ tab.label }}</ng-template>
          <app-rna-table [rnaType]="tab.label"></app-rna-table>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>

  <div fxFlex="none">
    <app-footer></app-footer>
  </div>
</div>
