<div fxLayout fxLayout.lt-xl="column" fxLayoutGap="10px">
  <mat-card fxFlex appMaterialElevation defaultElevation="4" raisedElevation="4">
    <mat-card-header>
      <mat-card-title>{{ projectDistTitle }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="!projectDist">
        <mat-progress-bar mode="query" color="warn"></mat-progress-bar>
      </div>
      <div echarts [options]="projectDist" class="chart-hight"></div>
    </mat-card-content>
  </mat-card>
  <mat-card fxFlex appMaterialElevation defaultElevation="4" raisedElevation="4">
    <mat-card-header>
      <mat-card-title>{{ projectHeatmapTitle }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="!projectHeatmap">
        <mat-progress-bar mode="query" color="warn"></mat-progress-bar>
      </div>
      <div echarts [options]="projectHeatmap" class="chart-hight"></div>
    </mat-card-content>
  </mat-card>
</div>
