<mat-card class="mat-elevation-z8">
  <mat-card-header>
    <mat-card-title> {{ author.name }}, {{ author.title }} </mat-card-title>
    <mat-card-subtitle> Email: {{ author.email }} </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/imgs/logo.png" />
  <mat-card-content>
    <p>Department of Bioinformatics and Systems Biology.</p>
    <p>College of Life Science and Technology</p>
    <p>Huazhong University of Science and Technology, Wuhan 430074 P.R. China</p>
  </mat-card-content>
</mat-card>
