<mat-card fxFlex appMaterialElevation defaultElevation="4" raisedElevation="4">
  <mat-card-header>
    <mat-card-title> {{ rnaSymbol }} related drugs </mat-card-title>
  </mat-card-header>
  <div class="spinner-container" *ngIf="!displayedColumnsDrug">
    <mat-progress-bar mode="query" color="warn"></mat-progress-bar>
  </div>

  <mat-table [dataSource]="dataSourceDrug">
    <ng-container *ngFor="let col of displayedColumnsDrug" [matColumnDef]="col">
      <mat-header-cell *matHeaderCellDef> {{ col }} </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row[col] }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumnsDrug"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumnsDrug"></mat-row>
  </mat-table>
  <mat-paginator #paginatorDrug [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</mat-card>

<mat-card fxFlex appMaterialElevation defaultElevation="4" raisedElevation="4">
  <mat-card-header>
    <mat-card-title> {{ rnaSymbol }} target genes </mat-card-title>
  </mat-card-header>

  <mat-form-field>
    <input matInput placeholder="Input target gene" #input />
    <button mat-icon-button color="warn" matPrefix>
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

  <div class="spinner-container" *ngIf="dataSourceTarget.loading$ | async">
    <mat-progress-bar mode="query" color="warn"></mat-progress-bar>
  </div>

  <mat-table [dataSource]="dataSourceTarget">
    <ng-container *ngFor="let col of displayedColumnsTarget" [matColumnDef]="col">
      <mat-header-cell *matHeaderCellDef> {{ col }} </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row[col] }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumnsTarget"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumnsTarget"></mat-row>
  </mat-table>
  <mat-paginator #paginatorTarget [length]="dataSourceTarget.resultLength" [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons></mat-paginator>
</mat-card>