<mat-card appMaterialElevation defaultElevation="4" raisedElevation="4">
  <mat-form-field>
    <input matInput placeholder="Input RNA symbol" #input />
    <button mat-icon-button color="warn" matPrefix>
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-progress-bar mode="query" color="warn"></mat-progress-bar>
  </div>

  <mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="samples" matSortDirection="desc" matSortDisableClear>
    <ng-container matColumnDef="symbol">
      <mat-header-cell *matHeaderCellDef>Symbol</mat-header-cell>
      <mat-cell class="description-cell" *matCellDef="let rna">
        <a [routerLink]="['detail', rna.GeneSymbol]">{{ rna.GeneSymbol }}</a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="loci">
      <mat-header-cell *matHeaderCellDef>Position</mat-header-cell>
      <mat-cell class="duration-cell" *matCellDef="let rna">
        <ng-container *ngIf="rna.start; else loading">
          {{ rna.chromosome }}: {{ rna.start | number }} - {{ rna.end | number }}
        </ng-container>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="strand">
      <mat-header-cell *matHeaderCellDef>Strand</mat-header-cell>
      <mat-cell class="duration-cell" *matCellDef="let rna">{{ rna.strand }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="tissues">
      <mat-header-cell *matHeaderCellDef>Expressed in number of tissues</mat-header-cell>
      <mat-cell class="duration-cell" *matCellDef="let rna">{{ rna.tissues }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="samples">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Expressed in number of samples</mat-header-cell>
      <mat-cell class="duration-cell" *matCellDef="let rna">{{ rna.samples | number }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator [length]="dataSource.resultLength" [pageSize]="10" [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
</mat-card>

<ng-template #loading> hello c.j. </ng-template>
