<form>
  <mat-form-field appearance="outline" class="search-box">
    <mat-label>Input your interested small RNA symbols</mat-label>

    <input matInput [formControl]="searchFormControl" placeholder="hsa-miR-146-5p" type="text" [matAutocomplete]="auto" />

    <button mat-icon-button color="warn" matPrefix>
      <mat-icon>search</mat-icon>
    </button>
    <mat-hint>Example: hsa-miR-146-5p</mat-hint>

    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngIf="isLoading">
        <mat-progress-bar mode="query" color="warn"></mat-progress-bar>
      </mat-option>
      <ng-container *ngIf="!isLoading">
        <mat-option *ngFor="let rna of rnaList" [value]="rna.rna">
          {{ rna.rna }}
        </mat-option>
      </ng-container>
    </mat-autocomplete>

    <mat-error *ngIf="searchFormControl.hasError('email') && !searchFormControl.hasError('required')">
      Please input valid smRNA.
    </mat-error>

    <mat-error *ngIf="searchFormControl.hasError('required')"> Input smRNA symbol is <strong>required</strong> </mat-error>
  </mat-form-field>
</form>
