<mat-card appMaterialElevation defaultElevation="4" raisedElevation="4" fxLayoutAlign="center center">
  <div fxFlex="95%">
    <form>
      <mat-form-field appearance="outline" class="search-box" [color]="isLegalInput ? 'primary' : 'warn'">
        <mat-label>Input your interested small RNA symbol</mat-label>

        <input matInput [formControl]="searchFormControl" [matAutocomplete]="auto" [placeholder]="rnaExample" type="text" />

        <button mat-icon-button color="warn" matPrefix>
          <mat-icon style="font-weight: bold;">search</mat-icon>
        </button>

        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="rnaSelected($event.option.value)">
          <mat-option *ngIf="isLoading">
            <mat-progress-bar mode="query" color="warn"></mat-progress-bar>
          </mat-option>
          <ng-container *ngIf="!isLoading">
            <mat-option *ngFor="let rna of rnaList" [value]="rna.rna">
              {{ rna.rna }}
            </mat-option>
          </ng-container>
        </mat-autocomplete>

        <mat-hint *ngIf="!hasRequest && isLegalInput">
          <mat-chip-list>
            <mat-chip color="primary" selected (click)="clickExample()">Example: {{ rnaExample }}</mat-chip>
          </mat-chip-list>
        </mat-hint>

        <mat-hint *ngIf="!isLegalInput" class="illegal">
          <mat-chip-list>
            <mat-chip color="warn" selected>Warning!: Input is illegal, please input valid symbol.</mat-chip>
          </mat-chip-list>
        </mat-hint>

        <mat-hint *ngIf="hasRequest && !hasInput" class="has-input">
          <mat-chip-list>
            <mat-chip color="accent" selected> Warning: The input is not included in our database. </mat-chip>
          </mat-chip-list>
        </mat-hint>
      </mat-form-field>
    </form>
  </div>
</mat-card>
